<%= form_with(model: catalogue, local: true) do |form| %>
  <% if catalogue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalogue.errors.count, "error") %> prohibited this catalogue from being saved:</h2>

      <ul>
      <% catalogue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Nombre:" %>
    <%= form.text_field :name, id: :catalogue_name, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Descripción:" %>
    <%= form.text_area :description, id: :catalogue_description, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
