<p id="notice"><%= notice %></p>

<h4 class="in-line">Catálogos</h4>
<div class="add-link">
  <%= link_to image_tag("add.png", class: "btn-img" ).html_safe + " Agregar catálogo", new_catalogue_path, class: "btn btn-xs" %>
</div>
<br><br>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogues.each do |catalogue| %>
      <tr>
        <td><%= catalogue.name %></td>
        <td class="action-icon"><%= link_to image_tag("view.png"), catalogue %></td>
        <td class="action-icon"><%= link_to image_tag("edit.png"), edit_catalogue_path(catalogue)%></td>
        <td class="action-icon"><%= link_to image_tag("delete.png"), catalogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @catalogues %>
<%= page_entries_info @catalogues %>

