<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catalogue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catalogue.description %>
</p>

<%= link_to image_tag("edit.png", class: "btn-img") + ' Editar', edit_catalogue_path(@catalogue), class: "btn btn-xs" %> |
<%= link_to image_tag("back.png", class: "btn-img") + ' Regresar', catalogues_path, class: "btn btn-xs" %>
