<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @item.name %>
</p>

<p class="form-group">
  <strong>Área:</strong>
  <div class="form-control"><%= @item.area_id %></div>
</p>

<p class="form-group">
  <strong>Precio:</strong>
  <div class="form-control"><%= @item.price %></div>
</p>

<p class="form-group">
  <strong>Descripción:</strong>
  <div class="form-control"><%= @item.description %></div>
</p>

<%= link_to image_tag("edit.png", class: "btn-img") + ' Editar', edit_item_path(@item), class: "btn btn-xs" %> |
<%= link_to image_tag("back.png", class: "btn-img") + ' Regresar',  items_path, class: "btn btn-xs" %>
