<!DOCTYPE html>
<html>
  <head>
    <title>PeopleoneTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/bootstrap_links' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">PeopleOneTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= @status %>">
            <a class="nav-link" href="/catalogues">Catálogos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= @status %>">
            <a class="nav-link" href="/areas">Áreas</a>
          </li>
          <li class="nav-item <%= @status %>">
            <a class="nav-link" href="/items">Items</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <%= form_with(url: search_path) do |form| %>
            <%= form.text_field :search, class: "form-control mr-sm-2", placeholder: "Search" %>
            <%= form.submit "Search", class: "btn btn-outline-light my-2 my-sm-0" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container" id="yield">

      <%= yield %>

    </div>
  </body>
</html>
